.vscode/*
venv/*
**/.DS_Store

secret.env
.env
!authentik_ldap/.env

*/mounts
!/vps_tunnel/mounts
/vps_tunnel/mounts/*
!/vps_tunnel/mounts/data
/vps_tunnel/mounts/data/*
!/vps_tunnel/mounts/data/nginx
/vps_tunnel/mounts/data/nginx/*
!/vps_tunnel/mounts/data/nginx/custom
