.vscode/*
venv/*
**/.DS_Store

secret.env
.env
!authentik_ldap/.env

*/mounts

!/nginx_proxy_manager/mounts
/nginx_proxy_manager/mounts/*
!/nginx_proxy_manager/mounts/data
/nginx_proxy_manager/mounts/data/*
!/nginx_proxy_manager/mounts/data/nginx
/nginx_proxy_manager/mounts/data/nginx/*
!/nginx_proxy_manager/mounts/data/nginx/custom

!/vps_tunnel/mounts
/vps_tunnel/mounts/*
!/vps_tunnel/mounts/data
/vps_tunnel/mounts/data/*
!/vps_tunnel/mounts/data/nginx
/vps_tunnel/mounts/data/nginx/*
!/vps_tunnel/mounts/data/nginx/custom
